{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica de Consultas Ágil</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Clínica de Consultas Ágil</h1>
      <ul class="container-item">
        <li class="container-item-link"><a href="{% url 'cadastrar_paciente' %}">Cadastrar Paciente</a></li>
        <li class="container-item-link"><a href="{% url 'marcar_consulta' %}">Marcar Consulta</a></li>
        <li class="container-item-link"><a href="{% url 'cancelar_consulta' %}">Cancelar Consulta</a></li>
      </ul>
    </div>
  </body>
</html>

